<h1> What CS field maximizes your potential for salary growth? </h1>
    by Almamy Bah and Oscar Herrera
    
<h2> Introduction </h2> 

After graduating, a sizable percentage of undergraduate students join the workforce without having a basic understanding of the earning potential of their learned talents. This is especially true for those studying computer science who aren't sure what career path to take. It is crucial that these students have access to trustworthy information about the financial possibilities for various career pathways, including data science, cyber security, and software engineering, as compensation is one of the most crucial aspects in employment selection.
By using the data science pipeline to examine the available data, our goal is to give computer science students the greatest financial options possible. Through an examination of average pay for various job titles, degrees of expertise, and organizations, we will look into how to maximize their earning potential. Furthermore, by investigating which states offer the best incomes for a certain degree, we will examine how geography influences income. We will also look at non-job-related variables like ethnicity, gender, and educational attainment that could have an ongoing impact on income.
By providing comprehensive and accurate information, our aim is to assist computer science students in making informed decisions about their future career paths and maximizing their earning potential. Ultimately, we believe that this will help to create a more equitable and prosperous job market for all computer science graduates.

<h1> Data Collection </h1>
Data Collection:
For this step, we looked for a dataset that is related to the salary of computer science jobs. More specifically, we look into a dataset from Kaggle related to Data Science and Stem Salaries. It contains more than 62,000 salary records from top companies. It contains useful data such as gender, race, level of experience, base salary etc… that we think is enough for our tutorial. The data set can be found <a href= https://www.kaggle.com/datasets/jackogozaly/data-science-and-stem-salaries> here </a>.

First we will import the libraries we will use for the project:

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

db = pd.read_csv("final_data.csv")
print(db)

                timestamp     company     level                         title  \
0       6/7/2017 11:33:27      Oracle        L3               Product Manager
1      6/10/2017 17:11:29        eBay      SE 2             Software Engineer
2      6/11/2017 14:53:57      Amazon        L7               Product Manager
3       6/17/2017 0:23:14       Apple        M1  Software Engineering Manager
4      6/20/2017 10:58:51   Microsoft        60             Software Engineer
...                   ...         ...       ...                           ...
62637   9/9/2018 11:52:32      Google        T4             Software Engineer
62638   9/13/2018 8:23:32   Microsoft        62             Software Engineer
62639  9/13/2018 14:35:59        MSFT        63             Software Engineer
62640  9/16/2018 16:10:35  Salesforce  Lead MTS             Software Engineer
62641   1/29/2019 5:12:59       apple      ict3             Software Engineer

       totalyearlycompensation           location  yearsofexperience  \
0                       127000   Redwood City, CA                1.5
1                       100000  San Francisco, CA                5.0
2                       310000        Seattle, WA                8.0
3                       372000      Sunnyvale, CA                7.0
4                       157000  Mountain View, CA                5.0
...                        ...                ...                ...
62637                   327000        Seattle, WA               10.0
62638                   237000        Redmond, WA                2.0
62639                   220000        Seattle, WA               14.0
62640                   280000  San Francisco, CA                8.0
62641                   200000      Sunnyvale, CA                0.0

       yearsatcompany                             tag  basesalary  ...  \
0                 1.5                             NaN    107000.0  ...
1                 3.0                             NaN         0.0  ...
2                 0.0                             NaN    155000.0  ...
3                 5.0                             NaN    157000.0  ...
4                 3.0                             NaN         0.0  ...
...               ...                             ...         ...  ...
62637             1.0  Distributed Systems (Back-End)    155000.0  ...
62638             2.0                      Full Stack    146900.0  ...
62639            12.0                      Full Stack    157000.0  ...
62640             4.0                             iOS    194688.0  ...
62641             0.0                         ML / AI    155000.0  ...

       Doctorate_Degree  Highschool Some_College Race_Asian  Race_White  \
0                     0           0            0          0           0
1                     0           0            0          0           0
2                     0           0            0          0           0
3                     0           0            0          0           0
4                     0           0            0          0           0
...                 ...         ...          ...        ...         ...
62637                 0           0            0          0           0
62638                 0           0            0          0           0
62639                 0           0            0          0           0
62640                 0           0            0          0           0
62641                 0           0            0          0           0

       Race_Two_Or_More  Race_Black  Race_Hispanic  Race  Education
0                     0           0              0   NaN        NaN
1                     0           0              0   NaN        NaN
2                     0           0              0   NaN        NaN
3                     0           0              0   NaN        NaN
4                     0           0              0   NaN        NaN
...                 ...         ...            ...   ...        ...
62637                 0           0              0   NaN        NaN
62638                 0           0              0   NaN        NaN
62639                 0           0              0   NaN        NaN
62640                 0           0              0   NaN        NaN
62641                 0           0              0   NaN        NaN

[62642 rows x 29 columns]

Next, we will get rid of the columns containing extraneous data for our project

In [10]:
db.drop("yearsatcompany", axis=1)
db.drop("tag", axis=1)
db.drop("cityid", axis=1)
db.drop("otherdetails", axis=1)
db.drop("dmaid", axis=1)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58:51,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,9/9/2018 11:52:32,Google,T4,Software Engineer,327000,"Seattle, WA",10.0,1.0,Distributed Systems (Back-End),155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62638,9/13/2018 8:23:32,Microsoft,62,Software Engineer,237000,"Redmond, WA",2.0,2.0,Full Stack,146900.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62639,9/13/2018 14:35:59,MSFT,63,Software Engineer,220000,"Seattle, WA",14.0,12.0,Full Stack,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62640,9/16/2018 16:10:35,Salesforce,Lead MTS,Software Engineer,280000,"San Francisco, CA",8.0,4.0,iOS,194688.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62641,1/29/2019 5:12:59,apple,ict3,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN